* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.header-container {
  max-width: 1536px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #2196f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 0.09px solid #fff;
}

.header-navbar {
  padding: 4px;
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.restaurant-icon {
  width: 60px;
  margin-right: 20px;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu-item-link {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

.menu-active {
  background-color: #f2f2f2;
}

.main {
  max-width: 1536px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.meal-container {
  padding: 2rem;
  background-color: #f2f2f2;
  gap: 2rem;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.meal-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: transparent;
  background-image: linear-gradient(
      -45deg,
      transparent,
      transparent 2%,
      white 2%,
      white 85%,
      transparent,
      85%,
      transparent
    ),
    linear-gradient(to bottom right, #2ad, #2ad 90%, transparent 90%);
  background-position: top left, 0.2em 0.2em;
  background-repeat: no-repeat;
}

.meal-head {
  text-align: end;
  font-style: italic;
  font-size: 15px;
}

.meal-thumbail {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.meal-item {
  flex-grow: 0;
  flex-basis: 100%;
}

.meal-interaction {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

.meal-button {
  padding: 6px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.meal-button:hover {
  color: #00f;
}

@media (min-width: 768px) {
  .meal-item {
    flex-basis: 47.5%;
  }
}

@media (min-width: 1125px) {
  .meal-item {
    flex-basis: 31%;
  }
}

.comment-popup {
  padding: 2rem;
  background-color: #f2f2f2;
}

.comment-container {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-direction: column;
}

.comment-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #00f;
  padding: 10px;
}

.comment-thumbail{
  max-width: 348px;
  max-height: 348px;
  height: auto;
  align-self: center;
  padding-bottom: 10px;
}

.meal-image{
width: 100%;
height: auto;
border-radius: 50%;
}

.button-close{
border: none;
font-size: 17px;
font-weight: bold;
background-color: transparent;
}

.comment-details{
  border-top:1px solid #00f;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.meal-desc{
  padding: 10px;
  font-size: 15px;
  font-style: italic;
}

.add-comment{
  padding: 16px;
  border: 1px solid #000;
  display: block;
  width: 100%;
}

.commet-item{
  padding-left: 10px;
  padding-bottom: 10px;
}

.comment-form{
  padding: 10px;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 1px dashed #000;
  margin-top: 10px;
}

.comment-input{
  padding: 7px;
}

.comment-history{
  display: block;
  padding: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.d-popup header{
  display: none;
}

.d-popup > main > .meal-container{
display: none;
}

.d-popup footer{
  display: none;
}

.d-none{
  display: none;
}
